<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo">
    <description>@APPDESCRIPTION@</description>
    <author>Joern Turner</author>
    <author>Lars Windauer</author>
    <author>Tobi Krebs</author>
    <author>Wolfgang Meier</author>
    <author>Adam Retter</author>
    <author>Dannes Wessels</author>
    <author>Leif-Jöran Olsson</author>
    <website>https://exist-db.org/exist/apps/homepage/index.html</website>
    <status>stable</status>
    <license>GNU-GPLv3</license>
    <copyright>true</copyright>
    <type>application</type>
    <target>@APPNAME@</target>
    <version>@APPVERSION@</version>
    <permissions user="guest" group="guest" mode="555"/>
</meta>
